body {
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

h1 {
    color: darkblue;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: darkgreen;
}

p {
    font-size: 18px;
    line-height: 1.6;
}